$header-height: 55px;
$header-bg-color:  rgb(255, 255, 255);
$container-width: 1200px;
$theme-color: rgb(55 152 255);
$theme-color-light: rgb(105, 177, 255);
$theme-color-dark: rgb(50 133 218);
$text-color: rgb(100, 116, 139);
$border-color: rgb(226, 232, 240);
$box-shadow-color: rgba(96, 165, 250, 0.15)